<html>
<body>
	<div class="panel-body">
		<h3>Employee 
		Form</h3>
		<div class="form-group">
			<button class="btn btn-primary" (click)="addEmployee()">Add New</button>
			<div class="col-md-3">
				<input type="text" class="form-control" [(ngModel)]="searchText" name="searchText" placeholder="Type to search..."> 
			</div>
		</div>
		<div class="form-group">
			
		</div>
		<div class="form-group">
			<table class="table table-bordered">
				<tr>
					<th>Id</th>
				<th>Name</th>
				<th>Phone</th>
				<th>City</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>Postal Code</th>
				<th>Edit</th>
				</tr>
				
				<tbody>
				<tr *ngFor="let emp of employees">
					<td>
						
						<span >{{emp.id}}</span>
						
					</td>
					<td>
						<span *ngIf="!emp.editMode">{{emp.name}}</span>
						<input type="text" class="form-control" [(ngModel)]="emp.name" value={{emp.name}} *ngIf="emp.editMode"> 
					</td>
					<td>
						<span *ngIf="!emp.editMode">{{emp.phone}}</span>
						<input type="text" class="form-control" [(ngModel)]="emp.phone" value={{emp.phone}} *ngIf="emp.editMode"> 
					</td>
					<td>
						<span *ngIf="!emp.editMode">{{emp.address.city}}</span>
						<input type="text" class="form-control" [(ngModel)]="emp.address.city" value={{emp.address.city}} *ngIf="emp.editMode"> 
					</td>
					<td>
						<span *ngIf="!emp.editMode">{{emp.address.address1}}</span>
						<input type="text" class="form-control" [(ngModel)]="emp.address.address1" value={{emp.address.address1}} *ngIf="emp.editMode"> 
					</td>
					<td>
						<span *ngIf="!emp.editMode">{{emp.address.address2}}</span>
						<input type="text" class="form-control" [(ngModel)]="emp.address.address2" value={{emp.address.address2}} *ngIf="emp.editMode"> 
					</td>
					<td>
						<span *ngIf="!emp.editMode">{{emp.address.postalCode}}</span>
						<input type="text" class="form-control" [(ngModel)]="emp.address.postalCode" value={{emp.address.postalCode}} *ngIf="emp.editMode"> 
					</td>
					<td title="edit here">
						<a class="fa fa-pencil" (click)="addNewEmployee(emp)" *ngIf="!emp.editMode"></a>
						<a class="fa fa-save" (click)="saveEmployee(emp)" *ngIf="emp.editMode"></a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		
	</div>
</body>
</html>