<form class="form">
	<div class="form-group">
		<label>name</label>
		<input class="form-control" />
	</div>
	<div class="form-group">
		<label>phone</label>
		<input class="form-control" />
	</div>
	<div class="form-group">
		<label>city</label>
		<input class="form-control" />
	</div>
	<div class="form-group">
		<label>addres1</label>
		<input class="form-control" />
	</div>
	<div class="form-group">
		<label>addres2</label>
		<input class="form-control" />
	</div>
	<div class="form-group">
		<label>postal code</label>
		<input class="form-control" />
	</div>
</form>